h1{
    color: goldenrod;
}

body{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(../images/casino.jfif);
    background-size: cover;
    font-weight: bold;
    color: white;
}
#message-el{
    font-style: italic;
}
button{
    width: 150px;
    color: #016f32;
    background: goldenrod;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 2px;
    font-weight: bold;
    margin-bottom: 8px;
}